* {
    box-sizing: border-box;
    margin:  0;
    padding: 0;
  }

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* MAIN--------------------------------------------
*/
.MainCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.MainCards .card{
    margin-left: 1rem;
    border-width: 1px;
    border-style: solid;
    border-color: #FFCA8B;
}

.MainCards .card-img-overlay{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 1.2rem;
}

.MainCards button{
    width: 60%;
    height: 17%;
    background-color: #F17524;
    color: black;
    font-weight: 500;
}

img {
    display: block;
    width: 100%;
}

.header {
    background: wheat;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    position: static;
    top: 0;
    left: 0;
    box-shadow: 0 1px 0 black;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #F17524 !important;
}

.headerIdiomaList {
    display: flex;
    align-items: center;
}

.headerIdiomaList a {
    display: block;
    font-size: 2,2rem;
    padding: 0.25rem;
}

#header-div-img {
    height: 35px;
}
