* {
    box-sizing: border-box;
    margin:  0;
    padding: 0;
  }

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    display: block;
    width: 100%;
}

.header {
    background: wheat;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    position: static;
    top: 0;
    left: 0;
    box-shadow: 0 1px 0 black;
}

.headerIdiomaList {
    display: flex;
    align-items: center;
}

.headerIdiomaList a {
    display: block;
    font-size: 2,2rem;
    padding: 0.25rem;
}

#header-div-img {
    height: 35px;
}